<h1> The <%=@color.name.capitalize%> Feely </h1>

<ul>
<% @stories.each do |story| %>
  <li><%= story.anecdote %><%= story.color_id %></li>
<% end %>
</ul>

<div class="colors-container">
  <% @stories.each do |story| %>
  <a href="/colors/<%= story.color_id %>">
  <div class="color-selection" id="<%=story.color.name%>" ></div></a>
  <%end%>
</div>
