<div class="story-container">
  <h1>this is the new page</h1>
  <h1><%= @color.name %></h1>
  <div class="story-form">
    <div class="errors"></div>
    <%= form_for @story, url: color_stories_path(@story), html: { method: "create" } do |f| %>
    <%= f.label :anecdote %>
    <%= f.text_field :anecdote %>
    <%= f.submit %>
    <% end %>
  </div>
</div>
